<div data-hook="admin_social_methods_form_fields" class="row">
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :environment do %>
        <%= label_tag nil, Spree::AuthenticationMethod.human_attribute_name(:environment) %>
        <%= collection_select(:authentication_method, :environment, Rails.configuration.database_configuration.keys, :to_s, :titleize, {}, { class: 'select2 fullwidth' }) %>
      <% end %>
    </div>
  </div>
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :provider do %>
        <%= f.label :provider, Spree.t(:social_provider) %>
        <%= f.select :provider, Spree::AuthenticationMethod.provider_options, {}, { include_blank: false, class: 'select2 fullwidth' } %>
      <% end %>
    </div>
  </div>
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :active do %>
        <span style="padding:0 10px 2px;"><%= f.label :active, Spree.t(:active) %></span>
        <%= f.radio_button :active, :true %>
        <span style="padding:0 2px;"><%= Spree.t(:say_yes) %></span>
        <%= f.radio_button :active, :false %>
        <span style="padding:0 2px"><%= Spree.t(:say_no) %></span>
      <% end %>
    </div>
  </div>
</div>
